@model PetStore.Models.CartViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>Shopping Cart</h2>

<h3>Items in Cart: @Model.Cart.Products.Count</h3>
<br />
<br />
<!-- foreach product in cart
    product.attribute
-->
@Html.Partial("productInfo")
@*@{ decimal totalPrice = 0;}
@foreach (var item in Model.Cart.Products)

{
 <ul class="cart">
     <li>
         <strong>Product Name: </strong> @item.Name <br />
         <strong>Price: </strong>$@item.Price <br />
         <img src="@item.ImageFilePath" height="100" width="100" />
         
     </li>
 </ul>
        totalPrice = totalPrice + item.Price;
}
        <h3 id="totalCart">Total: $@totalPrice</h3>
<form>
    <input type="hidden" name="action" value="Checkout" />
    <input type="submit" value="Checkout" />
</form>*@

