@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
</div>
<div class="row">
    <div class="page-header">
        <h2>The Best Pet Store</h2>
    </div>
</div>

<div class="row">    
    <div>
        <div>
            We are a site that sells pets. Any kind of pet you can think of. Lots of pets. The greatest pets. Take a look at our wide selection of pets and there is sure to be a companion that fits your needs.
        </div>       
    </div>
</div>