@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"> </div>


<div class="row">
    <div class="page-header">
        <h2>The Best Pet Store</h2>
    </div>
</div>

<div class="row">
    <div>
        <div id="toptext">
            <p><strong> We are a site that sells pets. Any kind of pet you can think of. Lots of pets. The greatest pets. Take a look at our wide selection of pets and there is sure to be a companion that fits your needs.</strong></p>
        </div>
    </div>
</div>

<div class="row">    
    <div class="col-md-4">
        <img src="~/Images/shar_pei_puppies.jpg" height="300" width="400" />
        <h2></h2>
        <p ><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Shop &raquo;</a></p>
    </div>
    
    <div class="col-md-4">
        <img src="~/Images/chow_chow_puppies.jpg" height="300" width="400" />
        <h2></h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Deals &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <img src="~/Images/dalmatian_puppies.jpg" height="300" width="400" />
        <h2></h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Sale &raquo;</a></p>
    </div>
</div>